<button type="button" id="delete-selected" class="btn bg-red">
    <i class="fa fa-trash-o"></i>
    @T("Admin.Common.Delete.Selected")
</button>
<nop-action-confirmation asp-button-id="delete-selected" />


<script>
    
    $(document).ready(function () {
        $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
            var postData = {
                selectedIds: selectedIds
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("DeleteSelected", "ClearCustomerList"))",
                data: postData,
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#deleteSelectedFailed-info').text(errorThrown);
                    $('#deleteSelectedFailed').click();
                },
                complete: function (jqXHR, textStatus) {
                    updateTable('#customers-grid');
                }
            });
            $('#delete-selected-action-confirmation').modal('toggle');
            return false;
        });
    });
</script>
<nop-alert asp-alert-id="deleteSelectedFailed" />